<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/resources/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form method="post" action="/products">
    <div id="productForm">

          <h3>Register product</h3>
          <p>Product name:<input type="text" name="pname"></p>
          <p>Catetogry:<input type="text" name="pcat"></p>
          <p>Price:<input type="text" name="price"></p>
          <input type="submit" text="Register" name="regproduct">

    </div>
</form>
</body>
</html>