body{
background-color: gray;
color: white;
 font-family: 'Times New Roman', Times, serif;
 font-size: 18px;
 font-weight:100;
}
h2{
color: cadetblue;
text-align: justify;
}

p::first-letter{

    font-size: 1.5rem;
}

a{
text-decoration: none;
color: brown;
}

p span{
    color: yellow;
}

a:hover{
    text-decoration:underline;
    
}
.movieul li{
list-style-type: none;
color: yellow;

}
ol li .movedetails{
    color: white;
}